/* BODY */
/* fonts */
@font-face {
  font-family: jeko;
  src: url("../public/fonts/Jeko-Extra-Bold.ttf"),
    url("../public/fonts/Jeko-Regular.ttf"),
    url("../public/fonts/Jeko-Light.ttf");
}
body {
  margin: 0;
  font-family: jeko, sans-serif;
  /* font-weight: normal; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
/* general classes */
.white{
  color: #ffffff
}
/* -- FIXED BACKGROUDS -- */
.bg__back {
  position: fixed;
  z-index: -2;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.bg__front {
  position: fixed;
  z-index: -1;
  top: 50px;
  left: 50px;
  width: calc(100vw - 117px);
  height: calc(100vh - 100px);
  background-color: #ff5851;
}
.front__left{
  position: fixed;
  z-index:10;
  width: calc(50vw - 50px);
  height: 300px;
  left: 50px;
  bottom: 50px;
  background-color:#ff5851;
}
.front__right{
  position: fixed;
  z-index:12;
  width: calc(50vw - 65px);
  height: 50vh;
  right: 65px;
  top: 50px;
  background-color:#ff5851;
}
.bg__botton {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
}
.bg__top {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  background-color: #ffffff;
}


/* -- NAV -- */
nav {
  position: fixed;
  top: 50px;
  left: 50px;
  width: calc(100vw - 117px);
  text-align: right;
  opacity: 0;
  height: 40px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.nav-active {
  opacity: 1;
}
ul {
  list-style: none;
  padding-right: 30px;
  margin: 0;
}
li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 2rem;
}
.link{
  text-decoration: none;
  /* color: #000000;s */
  color: #ffffff;
  position: relative;
  bottom: 0px;
}

/* links  */
.link-active{
  position: relative;
  bottom: 50px;
  color: #000000 !important;
  z-index: 999;


}

/* -- SECTIONS -- */
section {
  width: calc(100vw - 117px);
  min-height: calc(100vh - 100px);
  margin: 50px 0 0 50px;
}
.section__content{
  padding: 50px;
  display: flex;
}

/* -- animation section-- */
.animation {
  height: calc(100vh + 600px);
}
.hello {
  position: fixed;
  z-index: 1;
  top: 7vh;
  left: 50vw;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.index{
  position: fixed;
  z-index: 1;
}
.hello-active {
  opacity: 0;

}
.iam {
  position: fixed;
  top: 30vh;
  left: 60vw;
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.iam-active {
  opacity: 0;
  
}
.iam > p,
.hello > p {
  font-size: 10rem;
  color: #ffffff;
  margin: 0;
}

.alex {
  width: calc(100vw - 117px);
  z-index: 9;
  height: 300px;
  position: fixed;
  bottom: 20px;
}
.a {
  position: absolute;
  bottom: 50px;
  z-index: 9;
  left: 45vw;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.a-active {
  left: 29px;
  bottom: 10px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.le {
  position: absolute;
  bottom: 50px;
  left: calc(45vw + 170px);
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.le-active {
  opacity: 0;
  bottom: -100px;
}
.x1 {
  position: absolute;
  bottom: 50px;
  left: calc(45vw + 370px);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.x1-active {
  left: 124px;
  bottom: 10px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
.x2 {
  position: absolute;
  bottom: 50px;
  left: calc(45vw + 370px);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 1.5s ease-in-out;
  -moz-transition: all 1.5s ease-in-out;
  -ms-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.x2-active {
  left: -50px;
  bottom: 10px;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

/* -- bio -- */
.bio__img {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.bio__img-active {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
